{% extends 'index.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

<title>{% block title %}{{ user.username }} Post{% endblock %}</title>

{% block content %}
    <div class="container" style="margin-bottom: 60px;padding-top: 70px;">
        {% if post.author == user %}
            <a href="{% url 'post-update' post.id %}">
                <button type="button" class="btn btn-warning position-fixed" style="margin-top: 20px">Edit Post <i
                        class="far fa-edit"></i></button>
            </a>
            <form method="post" action="{% url 'post-delete' post.id %}">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Pozmak isleyanizmi ?');"
                        class="btn btn-danger position-fixed" style="margin-top: 60px">Delete Post <i
                        class="far fa-trash-alt"></i></button>
            </form>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-8">

                <div class="card mb-3 cart">
                    {% if post.avatar %}
                        <img src="{{ post.avatar.url }}" class="card-img-top" alt="" width="50px" height="350px">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text" style="margin-bottom: 5px">{{ post.content }}</p>
                        <a href="#"><i class="far fa-thumbs-up fa-lg"></i></a>
                        <span style="margin-right: 10px">{{ post.total_likes }} </span>
                        <a href="#"><i class="far fa-comment-dots fa-lg"></i></a>
                        <span>{{ comments_count }}</span>
                        <p class="card-text" style="float: right"><small
                                class="text-muted">{{ post.created_date }}</small>
                        </p>
                    </div>
                </div>

                <div class="be-comment-block">
                    <h5 class="comments-title">Comments ({{ comments_count }})</h5>
                    {% for comment in comments %}
                        <div class="be-comment">
                            <div class="be-img-comment">
                                <a href="{% url 'profile-detail' comment.user_id %}">
                                    <img src="{{ comment.user.avatar.url }}" alt="" class="be-ava-comment">
                                </a>
                            </div>
                            <div class="be-comment-content">

				<span class="be-comment-name">
					<a href="{% url 'profile-detail' comment.user_id %}">{{ comment.user.username }}</a>
					</span>
                                <span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					{{ comment.created_date }}
				</span>

                                <p class="be-comment-text">
                                    {{ comment.comment_text }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    <form class="form-block" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea class="form-input" name="comment_text" required=""
                                              placeholder="Your text"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
