{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>

<nav class="navbar fixed-top navbar-light main-nav shadow-sm mb-5 bg-white rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'post-list' %}">
            <img src=" {% static 'img/f.png' %} " alt="" width="24" height="24"
                 class="d-inline-block align-text-top"><span class="d-none d-sm-none d-md-inline">akebook</span>
        </a>
    </div>
</nav>


<form method="post">
    {% csrf_token %}
    <div class="simple-login-container">
        <h2>Login</h2>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="password" placeholder="Enter your Password" name="password" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login" value="Login">
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <div style="margin-bottom: 5px"><span>Don't have an account ?</span></div>
                <a href="{% url 'register' %}"> <button type="button" class="btn btn-outline-info">Sign Up</button> </a>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>