{% extends 'index.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

<title>{% block title %}Notifications{% endblock %}</title>

{% block content %}
<div class="container" style="margin-top: 10px">
    <div class="row justify-content-center">
        <div class="col-md-4" style="margin-top: 70px">
            {% for friendship in friendships %}
                <div class="alert alert-warning" role="alert">
                    <a href="{% url 'profile-detail' friendship.sender_id %}"><img src="{{ friendship.sender.avatar.url }}" height="30px" width="30px"
                            style="border-radius: 50%">
                        <span style="margin-left: 10px">{{ friendship.sender }} </span></a>
                    <a href="{% url 'accept friend request' friendship.id %}"
                       style="float: right">
                        <i class="fa solid fa-user-plus"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}