{% extends 'chat/room.html' %}
{% load static %}

{% block chat-tittle %}
    <a href="profile.html"><img src="{{ other_user.avatar.url }}"><span>{{ other_user.username }}</span></a>
    <!-- <a href="messanger.html"><img src="{% static 'img/delete.svg' %}"></a> -->
{% endblock %}

{% block messages-area %}
    {% for message in messages %}
        <div class="message-row {% if message.SenderUser == request.user %}your-message{% else %}other-message{% endif %}">
            <div class="message-content">
                <div class="message-text">
                    {{ message.message_text }}
                </div>
                <div class="message-time">
                    {{ message.date_created }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}



{% block chat-form %}
    <a href="" style="text-decoration: none;color: black"><i class="fa-solid fa-folder-plus"
                                                             style="font-size: 20px"></i></a>
    <div class="input-area">
        <input type="text" id="message-input">
        <button type="button" class="btn btn-dark" id="send-btn"><i class="fa-solid fa-paper-plane"></i></button>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let message_send_btn = document.getElementById("send-btn");
        let message_input = document.getElementById("message-input");
        let last_messages = document.querySelector(".messages-area");

        last_messages.scrollTop = last_messages.scrollHeight;

        function send_message() {
            let message = message_input.value;
            if (message === "") {
                return;
            }
            message_input.value = "";
            fetch("{% url 'chatroom-ajax' other_user.id %}",
                {
                    method: "POST",
                    credentials: 'same-origin',
                    headers: {
                        "Content-Type": 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(message)
                }
            ).then(e => e.json()).then(messages => {
                for (message of messages) {
                    construct_message(message);
                }
            });
        }

        function load_messages() {
            fetch("{% url 'chatroom-ajax' other_user.id %}")
                .then(e => e.json())
                .then(messages => {
                    for (message of messages) {
                        construct_message(message);
                    }
                })
        }

        function escapeHTML(unsafe_str) {
            return unsafe_str
                .replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/\"/g, '&quot;')
                .replace(/\'/g, '&#39;')
                .replace(/\//g, '&#x2F;')
        }

        function construct_message(message) {
            let messages_container = document.querySelector(".messages-area");
            let class_name = "other-message"
            if (message.sent) {
                class_name = "your-message"
            }
            let newdiv = '<div class="message-content"> <div class="message-text">' + escapeHTML(message.message) + '</div> <div class="message-time">' + message.date_day + ' ' + message.date_month + ' ' + message.date_year + ' г. ' + message.date_hour + ':' + message.date_minute + '</div> </div>'
            let div = document.createElement("div");
            div.classList.add("message-row", class_name);
            div.innerHTML = newdiv
            messages_container.appendChild(div);
            div.scrollIntoView()
        }

        message_send_btn.addEventListener('click', send_message);
        setInterval(load_messages, 2000);
    </script>
{% endblock %}