{% extends 'index.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/messanger.css' %}">
{% endblock %}

<title>{% block title %}MyChat{% endblock %}</title>

{% block content %}
<div id="chat-body" style="padding-top: 65px">
    <div id="chat-container">
        <div id="search-container">
        </div>
        <div id="conversation-list">
            {% for room in rooms %}
                {% if room.Messages.all.count > 0 %}
                    {% if room.UserOne != request.user %}
                        <a href="{% url 'chatroom' room.UserOne.id %}">
                            <div class="conversation {% if room == target_room %}active{% endif %}">
                                <img src="{{ room.UserOne.avatar.url }}"
                                     alt="">
                                <div class="tittle-text">

                                    {{ room.UserOne.username }}

                                </div>
                                <div class="created-date">
                                    {{ room.Messages.last.date_created }}
                                </div>
                                <div class="conversation-message">
                                    {{ room.Messages.all.last.message_text }}
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="conversation">
                            <img src="{{ room.UserTwo.avatar.url }}"
                                 alt="">
                            <div class="tittle-text">
                                <a href="profile.html">
                                    {{ room.UserTwo.username }}
                                </a>
                            </div>
                            <div class="created-date">
                                {{ room.Messages.last.date_created }}
                            </div>
                            <div class="conversation-message">
                                {{ room.Messages.all.last.message_text }}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </div>

        <div id="new-message-container">

        </div>

        <div id="chat-tittle">
            {% block chat-tittle %}{% endblock %}
        </div>

        <div class="messages-area" id="chat-message-list">
            {% block messages-area %}{% endblock %}
        </div>

        <div id="chat-form">
            {% block chat-form %}{% endblock %}
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
{% endblock %}