{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Fakebook</title>
</head>
<body>

<nav class="navbar fixed-top navbar-light" style="background-color: #eaecec">
    <div class="container-fluid">
        <a class="navbar-brand" href="home.html">
            <img src=" {% static 'img/F.svg' %} " alt="" width="30" height="24"
                 class="d-inline-block align-text-top"><span class="d-none d-sm-none d-md-inline">akebook</span>
        </a>
        <div class="">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'notifications' %}">
                        <div class="position-relative">
                            <i class="fi-rr-bell" style="float: right;font-size: 28px"></i>
                            {% if count != 0 %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ count }}</span>
                            {% else %}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-block p-2" href="{% url 'profile-detail' user.pk %}"><img src="{{ user.avatar.url }}"
                                                                                          alt="" width="32" height="32"
                                                                                          class="d-inline-block align-text-top rounded-circle"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar fixed-bottom navbar-light" style="background-color: #eaecec">
    <div class="container-fluid  justify-content-center">
        <a class="navbar-brand" href="{% url 'rooms' %}">
            <i class="fi-sr-envelope" style="margin-right: 30px;font-size: 30px"></i>
        </a>
        <a class="navbar-brand" href="{% url 'post-create' %}">
            <i class="fi-rr-add" style="font-size: 30px"></i>
        </a>
        <a class="navbar-brand" href="{% url 'friend-list' %}">
            <i class="fi-sr-users" style="margin-left: 30px;font-size: 30px"></i>
        </a>
    </div>
</nav>


<div class="container" style="margin-bottom: 70px;margin-top: 70px;">
    <div class="row justify-content-center">
        <div class="col-11 col-md-10 col-lg-8 col-xl-7 infinite-container">
            {% for post in posts %}
                <div class="card mb-2 infinite-item">
                    <a href="{% url 'profile-detail' post.author_id %}">
                        <p style="margin-left: 7px;margin-top: 7px;margin-bottom: 7px"><img
                                src="{{ post.author.avatar.url }}"
                                height="30px" width="30px" style="border-radius: 50%;margin-right: 5px">
                            {{ post.author }}</p></a>
                    <a href="{% url 'post-detail' post.id %}">
                        {% if post.avatar %}
                            <img src="{{ post.avatar.url }}" class="card-img-top" alt="" style="height: 350px;">
                        {% endif %}</a>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.tittle }}</h5>
                        <p class="card-text" style="margin-bottom: 5px">{{ post.content }}</p>


                        <a class="like" id="{{ post.id }}"><i id="{{ post.id }}"
                                                              class="like_icon fa-thumbs-up fa-lg {% if user in post.likes.all %}fas{% else %}far{% endif %}"></i>
                            <span class="like_count"
                                  style="margin-right: 10px" id="{{ post.id }}">{{ post.total_likes }}</span>
                        </a>

                        <a href="#"><i class="far fa-comment-dots fa-lg"></i></a>
                        <span>{{ post.comments.count }}</span>
                        <p class="card-text" style="float: right"><small
                                class="text-muted">{{ post.created_date }}</small></p>
                    </div>
                </div>

            {% endfor %}
        </div>
        {% if page_obj.has_next %}
            <div class="col-12 pagination">
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            </div>
        {% endif %}

        <div class="col-12 loading text-center" style=""><img src="{% static 'img/Spinner-3.gif' %}">
        </div>
    </div>
</div>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Like button
        let likeButtons = document.getElementsByClassName("like");
        if (likeButtons.length > 0) {
            for (const likeButton of likeButtons) {
                likeButton.addEventListener("click", function () {
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'like-button' %}", true);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.send(JSON.stringify({id: likeButton.id}));
                    xhr.onreadystatechange = function () {
                        // Only run if the request is complete
                        if (xhr.readyState !== 4) return;
                        if (this.status === 200) {
                            const data = JSON.parse(this.responseText);
                            for (let likeCount of document.getElementsByClassName("like_count")) {
                                if (likeButton.id == likeCount.id) {
                                    likeCount.textContent = data['total_likes'];
                                }

                            }
                            for (let star of document.getElementsByClassName("like_icon")) {
                                if (likeButton.id == star.id) {
                                    if (data["is_liked"]) {
                                        star.classList.remove("far")
                                        star.classList.add("fas");
                                    } else {
                                        star.classList.remove("fas")
                                        star.classList.add("far");
                                    }
                                }
                            }
                        }
                    };
                });
            }
        }
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>
</html>