{% extends 'index.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}

<title>{% block title %}Friends{% endblock %}</title>

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3 style="margin-top: 85px">Friends ({{ user.friends.all.count }})</h3>
                <hr>
                <div class="people-nearby">
                    {% for friend in user.friends.all %}
                        <div class="nearby-user">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <img src="{{ friend.avatar.url }}" alt="user" class="profile-photo-lg">
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <h5><a href="{% url 'profile-detail' friend.pk %}"
                                           class="profile-link">{{ friend.username }}</a></h5>
                                    <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                                    <p class="text-muted">{{ friend.last_login }}</p>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <a href="{% url 'chatroom' friend.id %}">
                                        <button class="btn btn-primary pull-right">Message <i
                                                class="fa-solid fa-envelope"></i>
                                        </button>
                                    </a>
                                    <a href="{% url 'delete friend request' friend.pk %}">
                                        <button class="btn btn-danger pull-right"><i class="fa-solid fa-trash"></i>
                                        </button>
                                    </a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}